// Colors

$orange: #fc5b4d;
$bright_blue: #74b8ce;
$slatblue: #8475ce;
$violet_blue: #8374ce;
$d_gray: #555555;
$l_gray: #777777;
$w_gray: #999999;
$green: #5cc99f;
$l_green: #aecb6a;
$yellow: #fcc94a;
$Neon_Carrot: #fea63e;

// Fonts

$Montserrat: "Montserrat",
sans-serif;
$Open_Sans: "Open Sans",
sans-serif;
$Raleway: "Raleway",
sans-serif;
$Roboto: "Roboto",
sans-serif;
$Arvo: "Arvo",
sans-serif;

/* 
* Main styles
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

h6 {
    font: 400 16px/1.9 $Montserrat;
}

p {
    font: 400 13px/1.85 $Open_Sans;
    text-transform: capitalize;
    color: $w_gray;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

#main-header {
    overflow: hidden;

    .logo-container {
        text-transform: uppercase;

        a {
            font-size: 25px;
            font-weight: bold;
            color: $orange;
            line-height: 1;
            display: inline-block;
            padding: 20px 35px;

            span {
                font-size: 15px;
                color: #ffffff;
                background-color: $orange;
                vertical-align: middle;
                padding: 1px 5px;
                position: relative;
                top: -2px;
                left: -3px;
                border-radius: 3px;
            }
        }
    }

    .navigation-container {
        display: flex;
        justify-content: flex-end;

        .main-nav {
            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
                display: flex;
                justify-content: flex-end;

                li {
                    a {
                        display: block;
                        padding: 20px;
                        font: 700 13px $Montserrat;
                        color: $l_gray;
                        text-transform: uppercase;
                        text-decoration: none;

                        &:hover {
                            color: $orange;
                        }
                    }
                }
            }
        }

        .search-container {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $orange;
            width: 75px;
            color: #ffffff;
            font-size: 20px;
        }
    }
}

section {
    padding: 50px 0;
}

#slider {
    padding-top: 0;

    .slide_items {
        height: 700px;
        display: flex;
        align-items: center;
    }

    .item_1 {
        background: {
            image: url(../img/slider/slide_1.jpg);
            position: center;
            size: cover;
        }
    }

    .item_2 {
        background: {
            image: url(../img/slider/slide_2.jpg);
            position: center;
            size: cover;
        }
    }

    .item_3 {
        background: {
            image: url(../img/slider/slide_3.jpg);
            position: center;
            size: cover;
        }
    }

    .slide_content {
        h3 {
            font: {
                family: $Raleway;
                size: 28px;
                weight: 600;
            }

            color: #ffffff;
            background: #000;
            width: 380px;
            margin-bottom: 18px;
        }

        p {
            font: {
                family: $Montserrat;
                size: 20px;
            }

            color: #000000;
            background: #ffffff;
            width: 480px;
            margin-bottom: 3px;
        }

        h3,
        p {
            padding-left: 10px;
        }

        .Btn {
            margin-top: 25px;

            a {
                text-decoration: none;
                color: #ffffff;
                padding: 15px 30px;
                background: $orange;
                border-radius: 5px;
                text-transform: uppercase;

                font: {
                    family: $Montserrat;
                    size: 13px;
                    weight: 700;
                }
            }
        }

    }
}

.slider_bg {
    background: {
        image: url(../img/BG-WHITE.png);
        size: contain;
        position: top;
        repeat: no-repeat;
    }

    width: 100%;
    height: 900px;
    z-index: 1;
    position: absolute;
    top: 550px;
}

.title {
    color: $d_gray;
    text-transform: uppercase;

    font: {
        family: $Montserrat;
        size: 16px;
        weight: 700;
    }

    position: relative;
    margin: 50px 0;

    .divider {
        position: absolute;
        width: 216px;
        height: 2px;
        background: $Neon_Carrot;
        left: 50%;
        top: 50px;
        transform: translate(-50%, -50%);

        &::before,
        &::after {
            position: absolute;
            content: '';
            left: 50%;
            transform: translate(-50%, -50%);
            height: 2px;
            width: 105px;
        }

        &::before {
            background: $green;
            top: -3px;
        }

        &::after {
            background: $bright_blue;
            top: 5px;
        }
    }


    &_desc {
        margin: 50px 0 20px 0;
        text-transform: initial;

        font: {
            family: $Raleway;
            size: 48px;
            weight: 200;
        }

        span:nth-child(1) {
            font-weight: 800;
            color: $bright_blue;
        }

        span:nth-child(2) {
            font-weight: 800;
            color: $orange;
        }
    }
}

#about {
    padding-top: 0;
    color: $l_gray;
    position: relative;
    z-index: 1;

    .about_photos {
        height: 400px;
        position: relative;

        background: {
            image: url(../img/APPLE-DEVICES.jpg);
            position: center;
            size: 600px;
            repeat: no-repeat;
        }

        span {
            position: absolute;
            border: 6px solid #ffffff;
            border-radius: 50%;
            box-shadow: 0px 0px 24px 0px rgba(75, 86, 83, 0.3);
        }

        span:nth-child(1) {
            top: 14%;
            left: 12%;
            width: 140px;
            height: 140px;

            background: {
                image: url(https://source.unsplash.com/random/250x250);
                color: #e3e2e2;
            }
        }

        span:nth-child(2) {
            top: 28%;
            left: 19%;
            width: 240px;
            height: 240px;

            background: {
                image: url(https://source.unsplash.com/random/240x240);
                color: #e3e2e2;
            }
        }

        span:nth-child(3) {
            top: 18%;
            right: 8%;
            width: 272px;
            height: 272px;

            background: {
                image: url(https://source.unsplash.com/random/260x260);
                color: #e3e2e2;
            }
        }
    }

    & .short_desc {
        line-height: 1.9;

        font: {
            family: $Montserrat;
            size: 16px;
            weight: 700;
        }

        p:nth-child(1) {
            margin: 25px 0;
            color: $d_gray;
            font: 700 16px/30px $Montserrat;
        }

        p:nth-child(2) {
            font: 400 14px/25px $Montserrat;

            color: $l_gray;
        }
    }

    .about_info {
        margin-top: 50px;

        &>div {
            padding: 0 10px;
        }


        .content {
            font-family: $Montserrat;

            .title {
                &::after {
                    content: '';
                    position: absolute;
                    background: $orange;
                    width: 68px;
                    height: 1px;
                    left: 50%;
                    top: 40px;
                    transform: translate(-50%, -50%);
                }

                h6 {
                    font: {
                        weight: 400;
                    }

                    margin-bottom: 40px;
                    color: $d_gray;
                }
            }
        }

        p.desc {
            font-size: 13px;
            font-family: $Open_Sans;
            color: $w_gray;
            line-height: 1.9;
        }

        .btn {
            margin-top: 10px;

            a {
                padding: 10px;
                border-radius: 4px;
                border: 1px solid $orange;
                color: $orange;
                font-size: 11px;
                text-transform: uppercase;
                transition: 0.5s;

                &:hover {
                    text-decoration: none;
                    background: $orange;
                    color: #ffffff;
                }
            }
        }
    }
}

#facts {
    text-align: center;

    .title_desc {
        span:nth-child(1) {
            color: $orange;
        }

        span:nth-child(2) {
            color: $l_green;
        }
    }

    .texts {
        text-transform: uppercase;
        padding: 30px 0;

        p {
            color: #fff;
        }

        p:nth-child(1) {
            font: {
                family: $Raleway;
                size: 48px;
                weight: 800;
            }
        }

        p:nth-child(2) {
            font: {
                family: $Montserrat;
                size: 13px;
                weight: 700;
            }
        }
    }

    .col-lg-2 {
        padding: 0;
    }

    .txt1 {
        background: #d54444 url(../img/facts/POLYGON1.jpg) no-repeat center;
        background-size: cover;
    }

    .txt2 {
        background: $orange url(../img/facts/POLYGON2.jpg) no-repeat center;
        background-size: cover;
    }

    .txt3 {
        background: $Neon_Carrot url(../img/facts/POLYGON3.jpg) no-repeat center;
        background-size: cover;
    }

    .txt4 {
        background: $yellow url(../img/facts/POLYGON4.jpg) no-repeat center;
        background-size: cover;
    }

    .txt5 {
        background: #51b991 url(../img/facts/POLYGON5.jpg) no-repeat center;
        background-size: cover;
    }

    .txt6 {
        background: $l_green url(../img/facts/POLYGON6.jpg) no-repeat center;
        background-size: cover;
    }
}

#portfolio {
    .title_desc {
        font-size: 44px;

        span::nth-child(1) {
            color: $bright_blue;
        }

        span::nth-child(2) {
            color: $orange;
        }
    }

    .filter_grp {
        font: {
            family: $Montserrat;
            size: 13px;
            weight: 400;
        }

        .btn__tab {
            text-transform: uppercase;
            color: $d_gray;
            background: #fff;
            padding: 10px 15px;
            border-radius: 4px;
            border: 1px solid #cccccc;
            transition: .5s;

            &:hover {
                background: $slatblue;
                color: #ffffff;
            }
        }

        .active.btn__tab {
            background: $slatblue;
            color: #ffffff;
        }
    }

    .grid {
        margin: 50px -15px 0 -15px;
        flex-wrap: wrap;
    }

    .portfolio_img {
        position: relative;
        // overflow: hidden;
        margin-bottom: 15px;



        &:hover {
            .details {
                opacity: 1;
                visibility: visible;
                transition: .5s;
            }
        }

        .details {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            background-color: $orange;
            padding: 40px 30px;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            visibility: hidden;
            transition: .5s;

            &::before {
                position: absolute;
                content: '';
                top: 0;
                right: 0;
                border: 18px solid;
                border-color: #fff #fff #e2a1c5 #e2a1c5;
            }

            h6 {
                font: {
                    size: 15px;
                }

                color: #ffffff;
                text-transform: uppercase;
            }

            p {
                line-height: 1.7;
                color: #ffffff;
            }

            a {
                text-transform: capitalize;
                color: #ffffff;
                border: 1px solid #fff;
                margin-top: 20px;
            }
        }
    }
}

#testimonials {

    .clients_brands {
        margin: 90px 0;
    }

    .testimonial_container {
        .testimonials_contents {
            margin: 0 25px;

            font: {
                family: $Montserrat;
                size: 14px;
                weight: 400;
            }

            display: flex;
            text-align: left;

            img {
                min-width: 80px;
                height: 80px;
            }

            .text {
                margin-left: 50px;
                color: $d_gray;

                .name {
                    position: relative;

                    span:first-child {
                        position: absolute;
                        top: -18px;
                        left: -35px;

                        font: {
                            family: $Montserrat;
                            size: 60px;
                        }
                    }

                    span:last-child {
                        position: absolute;
                        top: -1px;
                        color: $l_green;
                        margin-left: 20px;

                        font: {
                            family: $Open_Sans;
                            size: 13px;
                        }
                    }

                }


                .content {
                    padding: 20px 30px;
                    border: 1px solid $l_green;
                    color: $w_gray;
                    margin-top: 20px;
                    position: relative;
                    line-height: 1.7;

                    font: {
                        family: $Arvo;
                        size: 14px;
                        style: italic;
                    }

                    span {
                        position: absolute;
                        top: 10px;
                        left: -20px;
                        height: 13px;
                        width: 20px;
                        border: 1px solid;
                        border-color: $l_green #ffffff transparent transparent;

                        &::before {
                            position: absolute;
                            content: '';
                            height: 24px;
                            width: 20px;
                            border-left: 1px solid $l_green;
                            transform: rotate(-60deg) translate(14px, -4px);

                        }
                    }
                }
            }
        }
    }
}

#team {
    .title_desc {
        span:nth-child(1) {
            color: $l_green;
        }
    }

    .team_slider {
        &_title {
            color: $d_gray;
            text-align: center;

            font: {
                family: $Montserrat;
                size: 16px;
                weight: 700;
            }
        }

        .team_contents {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin: 100px 0;
            padding: 50px 0;
            width: 100%;

            .team_img {
                width: 240px;
                height: 300px;
                margin: 15px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    max-width: 100%;
                }
            }

            .team_details {
                max-width: 370px;
                padding-right: 20px;

                @media (max-width:1754px) {
                    text-align: center;
                }

                h6 {
                    margin: 0;
                    color: #fff;
                }

                p {
                    color: #000;

                    font: {
                        family: $Montserrat;
                        size: 14px;
                    }
                }

                .skills {
                    p {
                        margin: 5px 0;
                        width: 15px;
                        color: #fff;
                    }
                }

                .skill {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;

                    .label {
                        width: 95px;
                        padding-left: 5px;
                    }

                    .progress {
                        width: 200px;
                        height: 10px;
                        background-color: #00000026;
                        border-radius: 10px;

                        .progress-bar {
                            background-color: #fff;
                        }
                    }
                }

            }
        }

        .team_1 {
            background-color: $green;
        }

        .team_2 {
            background-color: $yellow;
        }

        .team_3 {
            background-color: $orange;
        }
    }

}

.social {
    margin-top: 35px;
    font-size: 1.5em;

    a {
        margin-right: 10px;
        color: #ffffff;

    }
}

#features {

    .title_desc {
        span:nth-child(1) {
            color: $bright_blue;
        }

        span:nth-child(2) {
            color: $violet_blue;
        }
    }

    .feature_item {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 30px 0;

        &:hover {
            .icon {
                transform: scale(1.2);
                transition: .5s;
            }
        }
    }

    .icon {
        width: 80px;
        height: 80px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .5s;
    }

    .text {
        h6 {
            margin: 35px 0 25px 0;


        }
    }

    .feature_1 {
        .icon {
            background-color: $orange;
        }
    }

    .feature_2 {
        .icon {
            background-color: #fcb44d;
        }
    }

    .feature_3 {
        .icon {
            background-color: #fcd94e;
        }
    }

    .feature_4 {
        .icon {
            background-color: $violet_blue;
        }
    }

    .feature_5 {
        .icon {
            background-color: #d07cd3;
        }
    }

    .feature_6 {
        .icon {
            background-color: #f47c7c;
        }
    }
}

#theme_feature {
    background-color: #f9f9f9;

    .title {
        &_desc {
            span:nth-child(1) {
                color: $Neon_Carrot;
            }

            span:nth-child(2) {
                color: $orange;
            }

            span:nth-child(3) {
                font-weight: 800;
            }

        }

        p {

            font: {
                family: $Montserrat;
                size: 14px
            }
        }
    }

    .theme_1,
    .theme_2 {
        margin-top: 100px;

        span.circle {
            position: relative;
            border: 1px solid $w_gray;
            border-radius: 50%;
            height: 10px;
            width: 10px;
            top: 5px;

            &::before,
            &::after {
                position: absolute;
                content: '';
            }
        }

        span.inner {
            position: absolute;
            border: 1px solid $w_gray;
            border-radius: 50%;
            height: 10px;
            width: 10px;
        }
    }

    .theme_1 {
        span.circle {
            right: -15px;

            &::before {
                top: 3px;
                border-top: 1px dashed #999999;
                width: 55px;
                height: 1px;
            }
        }

        .item_1 {
            span.circle::after {
                top: 23px;
                left: 54px;
                border-top: 1px dashed #999999;
                width: 58px;
                height: 1px;
                transform: rotate(45deg);
            }

            span.inner {
                top: 43px;
                left: 102px;
            }
        }

        .item_2 {
            span.circle::after {
                top: 3px;
                left: 65px;
                border-top: 1px dashed #999999;
                width: 58px;
                height: 1px;
            }

            span.inner {
                top: -2px;
                left: 124px;
            }
        }

        .item_3 {
            span.circle::after {
                top: -17px;
                left: 57px;
                border-top: 1px dashed #999999;
                width: 58px;
                height: 1px;
                transform: rotate(-45deg);
            }

            span.inner {
                bottom: 43px;
                left: 105px;
            }
        }
    }

    .theme_2 {
        span.circle {
            top: 10px;
            right: 20px;

            &::before {
                top: 4px;
                right: 10px;
                border-top: 1px dashed #999999;
                width: 80px;
                height: 1px;
            }
        }

        .item_1 {
            span.circle::after {
                top: 28px;
                right: 85px;
                border-top: 1px dashed #999999;
                width: 88px;
                height: 1px;
                transform: rotate(-32deg);
            }

            span.inner {
                top: 50px;
                right: 165px;
            }
        }

        .item_2 {
            span.circle::after {
                top: 4px;
                right: 82px;
                border-top: 1px dashed #999999;
                width: 58px;
                height: 1px;
            }

            span.inner {
                top: 0px;
                right: 140px;
            }
        }

        .item_3 {
            span.circle::after {
                top: -12px;
                right: 88px;
                border-top: 1px dashed #999999;
                width: 58px;
                height: 1px;
                transform: rotate(32deg);
            }

            span.inner {
                bottom: 32px;
                right: 140px;
            }
        }
    }

    .theme_items {
        margin-top: 50px;
    }

    .theme_feature {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        margin: 20px;
    }



    p {
        margin-top: 10px;
    }

    .name_container {
        display: flex;
    }

    .icon {
        font-size: 1.5em;
        color: $orange;
        margin-left: 15px;
        line-height: 1;
    }

    .theme_container {
        img {
            width: 500px;
        }
    }

    .theme_2 {
        .icon {
            margin-left: -15px;
            margin-right: 15px;
        }

        h6 {
            line-height: 2;
        }

        .theme_feature {
            align-items: flex-start;
            text-align: left;
        }

        .theme_items {
            margin: 50px 0 0 50px;
        }
    }

    img,
    span.circle {
        @media screen and (max-width: 1200px) {
            display: none;
        }
    }
}

#services {
    background: $orange url(../img/What_we_do_bg.jpg) no-repeat center;
    background-size: cover;
    color: #fff;

    .title,
    .title_desc,
    span {
        color: #fff;
    }

    .divider {
        background: #ffffff;

        &::before,
        &::after {
            background: #ffffff;
        }
    }

    ul {
        padding: 0;

        li {
            list-style: none;
            display: flex;
            align-items: center;
            position: relative;
            padding: 10px;
            transition: .5s;
            cursor: pointer;

            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 10px;
                background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
            }

            &::after {
                position: absolute;
                content: '';
                top: 30%;
                right: -5px;
                width: 20px;
                height: 20px;
                background: #ffffff;
                transform: rotate(45deg) scale(0);
                transition: .5s;
            }

            &:hover,
            &.active {
                background: #ffffff;
                color: $orange;

                &::after {
                    transform: rotate(45deg) scale(1);
                }

                .i1,
                .i2,
                .i3,
                .i4,
                .i5,
                .i6,
                .i7 {
                    background-position: right;
                }
            }
        }
    }

    .service {
        &_list {
            font: 400 16px $Montserrat;
        }

        &_icon {
            height: 25px;
            width: 30px;
            margin-right: 20px;
            font-size: 1.5em;
        }

        .i1,
        .i2,
        .i3,
        .i4,
        .i5,
        .i6,
        .i7 {
            background: no-repeat left;
            transition: .5s;
        }

        .i1 {
            background-image: url(../img/icons/browser.png);
        }

        .i2 {
            background-image: url(../img/icons/ipad.png);
        }

        .i3 {
            background-image: url(../img/icons/file.png);
        }

        .i4 {
            background-image: url(../img/icons/mac.png);
        }

        .i5 {
            background-image: url(../img/icons/justice.png);
        }

        .i6 {
            background-image: url(../img/icons/polaroid.png);
        }

        .i7 {
            background-image: url(../img/icons/copy_paste.png);
        }

        &_details {
            .line {
                position: relative;
                background-color: #524e4e;
                width: 52px;
                height: 2px;
                margin: 20px 0;
            }

            p {
                color: #fff;
            }
        }

        &_img {
            position: relative;

            img {
                width: 418px;
            }

            &_inner {
                position: absolute;
                width: 385px;
                height: 205px;
                top: 75px;
                left: 29px;
                background: #526b71;
            }
        }

        &_action_btn {
            padding: 50px 0;

            a {
                display: inline-block;
                padding: 10px 30px;
                border: 1px solid #fff;
                border-radius: 5px;
                margin-bottom: 10px;
                font: 700 13px $Montserrat;
                transition: .5s;

                &:hover {
                    color: $orange;
                    background: #fff;
                }
            }

            a:last-child {
                text-transform: uppercase;
            }
        }
    }


}

#How_we_do {
    .title_desc {
        span:nth-child(1) {
            color: $green;
        }

        span:nth-child(2) {
            color: $orange;
        }
    }

    .step {
        .icon {
            width: 80px;
            height: 80px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 40px auto;
            transform: rotate(45deg);

            svg {
                transform: rotate(-45deg);
            }
        }

        &_num {
            margin: 15px;
        }

        &_1 {
            .icon {
                background: $orange;
            }
        }

        &_2 {
            .icon {
                background: $Neon_Carrot;
            }
        }

        &_3 {
            .icon {
                background: $l_green;
            }
        }

        &_4 {
            .icon {
                background: $green;
            }
        }

        &_num1,
        &_num2,
        &_num3,
        &_num4 {
            font: italic 700 24px/1.5 $Montserrat;

        }

        &_num1 {
            color: $orange;
        }

        &_num2 {
            color: $Neon_Carrot;
        }

        &_num3 {
            color: $l_green;
        }

        &_num4 {
            color: $green;
        }

        &_img {
            position: relative;
        }

        &_label_1,
        &_label_2 {
            padding: 7px 33px;
            font: 200 16px/2.25 $Raleway;
            color: #ffffff;
            position: absolute;
            box-shadow: 2px 5px 8px 5px #0000003b;

            span {
                font-weight: 700;
            }

            &:before {
                position: absolute;
                content: '';
                bottom: 0;
                right: 0;
                border: 10px solid;
                border-color: #ffffff75 #b4b5b1 #b1b1ad #ffffff75;
            }
        }

        &_label_1 {
            background: $orange;
            top: 38%;
            left: 50%;
        }

        &_label_2 {
            background: $green;
            top: 48%;
            left: 55%;

        }
    }

    .line_1,
    .line_2,
    .line_3,
    .line_4 {
        position: relative;
        display: block;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        left: 50%;
        z-index: 1;

        &::after {
            position: absolute;
            content: '';
            height: 1px;
        }
    }

    .line_1 {
        border: 1px solid $orange;
        transform: rotate(30deg);

        &::after {
            width: 275px;
            background: $orange;
            top: 47%;
            left: 13px;
        }
    }

    .line_2 {
        border: 1px solid $Neon_Carrot;
        transform: rotate(60deg);

        &::after {
            width: 155px;
            background: $Neon_Carrot;
            top: 47%;
            left: 13px;
        }
    }

    .line_3 {
        border: 1px solid $l_green;
        transform: rotate(120deg);

        &::after {
            width: 150px;
            background: $l_green;
            top: 47%;
            left: 13px;
        }
    }

    .line_4 {
        border: 1px solid $green;
        transform: rotate(145deg);

        &::after {
            width: 275px;
            background: $green;
            top: 47%;
            left: 13px;
        }
    }
}

#pricing {
    padding: 100px 0;
    background: #f9f9f9;

    .title_desc {
        span:nth-child(1) {
            color: $green;
        }

        span:nth-child(2) {
            color: $orange;
        }
    }

    .price {
        &_items {
            border: 1px solid #ececec;
            transition: .5s;
            height: 700px;
            width: 270px;
            margin: 20px auto;
            position: relative;

            a {
                color: currentColor;
                transition: inherit;
                display: block;
                width: 160px;
                height: 45px;
                line-height: 45px;
                border-radius: 3px;
                position: absolute;
                left: 50%;
                text-transform: uppercase;
                transform: translatex(-50%);
                bottom: 40px;
            }

            &>p {
                line-height: 2.7;
                padding: 0 55px;
            }
        }
    }

    h6 {
        font-size: 18px;
        padding: 15px;
        margin: 0;
    }



    .price_wrapper {
        padding: 20px;
        height: 165px;
        margin-bottom: 20px;
        background: #f9f9f9;
        clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
        transition: .5s;

        p {
            font-size: 14px;
            transition: .5s;
            margin: 15px 0;
            padding: 0;
            line-height: 1;
        }

        span {
            font: 700 62px/.8 $Raleway;
            transition: .5s;

            span {
                font: 300 45px/.8 $Roboto;
            }

        }
    }

    .item_1 {
        color: $orange;

        &:hover {
            .price_wrapper {
                background: currentColor;

                p,
                span {
                    color: #fff;
                }
            }

            border: 4px solid currentColor;

            a {
                color: #fff;
                background: $orange;
            }
        }

    }

    .item_2 {
        color: $Neon_Carrot;

        &:hover {
            .price_wrapper {
                background: currentColor;

                p,
                span {
                    color: #fff;
                }
            }

            border: 4px solid currentColor;

            a {
                color: #fff;
                background: $Neon_Carrot;
            }
        }
    }

    .item_3 {
        color: $l_green;

        &:hover {
            .price_wrapper {
                background: currentColor;

                p,
                span {
                    color: #fff;
                }
            }

            border: 4px solid currentColor;

            a {
                color: #fff;
                background: $l_green;
            }
        }
    }

    .item_4 {
        color: $green;

        &:hover {
            .price_wrapper {
                background: currentColor;

                p,
                span {
                    color: #fff;
                }
            }

            border: 4px solid currentColor;

            a {
                color: #fff;
                background: $green;
            }
        }
    }
}

#blogs {
    .title_desc {
        span:nth-child(1) {
            color: $orange;
        }

        span:nth-child(2) {
            color: $yellow;
        }

        span:nth-child(3) {
            font-weight: 800;
            color: $l_green;
        }
    }

    .blog {
        &__post {
            width: 320px;
            height: 550px;
            position: relative;

            &_upper {
                display: flex;
                color: #ffffff;
                position: relative;
                padding-top: 30px;
            }

            &_cmmt,
            &_likes {
                margin-left: 20px;

                .icon {
                    display: flex;
                    align-items: center;
                }

                .count {
                    margin-left: 5px;
                }
            }

            &_category {
                position: absolute;
                right: 0;

                span {
                    text-transform: uppercase;
                    background-color: $orange;
                    padding: 10px 20px;
                    font: 400 12px/1 $Montserrat;
                }
            }

            &_title {
                margin-bottom: 25px;
                position: absolute;
                bottom: 0;

                p {
                    display: block;
                    color: #0d0d0d;
                    background-color: #fff;
                    font: 400 18px/35px $Montserrat;
                    padding-left: 15px;
                }

                p:first-child {
                    width: 239px;
                    height: 35px;
                }

                p:last-child {
                    width: 190px;
                    height: 35px;
                }
            }
        }

        &__post:nth-child(1) {
            .blog__post_category {

                span {
                    background-color: $orange;
                }
            }
        }

        &__post:nth-child(2) {
            .blog__post_category {

                span {
                    background-color: $yellow;
                }
            }
        }

        &__post:nth-child(3) {
            .blog__post_category {

                span {
                    background-color: $l_green;
                }
            }
        }

        &__post:nth-child(4) {
            .blog__post_category {

                span {
                    background-color: $green;
                }
            }
        }

        &__post:nth-child(5) {
            .blog__post_category {

                span {
                    background-color: $yellow;
                }
            }
        }

        &__post:nth-child(6) {
            .blog__post_category {

                span {
                    background-color: $orange;
                }
            }
        }

        &__post:nth-child(odd) {
            background-color: #7e7e7e;
        }

        &__post:nth-child(even) {
            background-color: #b6b6b6;
        }

        &__form {
            margin: 50px auto;

            input[type="email"] {
                border: 1px solid $green;
                width: 60%;
                display: block;
                padding: 22px 35px;
                font: 400 14px/1 $Montserrat;
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
            }

            .icon {
                font-size: 1.5em;
                background-color: $green;
                color: #fff;
                width: 70px;
                height: 70px;
                line-height: 70px;
                text-align: center;
                cursor: pointer;
                transition: .5s;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;

                &:hover {
                    background-color: darken($green, 20%);
                }
            }
        }
    }

}

#contact_us {
    .title_desc {
        span:nth-child(1) {
            color: $green;
        }

        span:nth-child(2) {
            color: $orange;
        }
    }

    .form-group {
        input {
            border-radius: 2px;
            border: none;
            background-color: #ededed;
            color: #767373;
            padding: 21px 95px 21px 19px;
            margin-bottom: 10px;
            font: 400 13px/1 $Open_Sans;
        }

        textarea {
            border-radius: 2px;
            border: none;
            background-color: #ededed;
            color: #767373;
            font: 400 13px/1 $Open_Sans;
            resize: both;
            padding: 20px;
            line-height: 1.2;
            width: 100%;
            max-width: 100%;
        }

        .submit_btn {
            border: none;
            background-color: $orange;
            font: 700 13px/1 $Montserrat;
            text-transform: uppercase;
            color: #ffffff;
            margin: 0;
            padding: 0;
            display: inline-block;
            width: 270px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            transition: .5s;

            &:hover {
                background-color: darken($orange, 20%);
            }

        }
    }

    .input_1,
    .input_2 {
        width: calc(50% - 5px);
        display: flex;
        justify-content: space-between;
    }
}

#banner {
    height: 308px;
    display: flex;
    align-items: center;

    background: {
        image: url(../img/Banner.jpg);
        size: cover;
        position: center;

    }

    p {
        color: #ffffff;
        font: 400 16px/1 $Montserrat;
    }

    a {
        display: block;
        width: 194px;
        height: 49px;
        color: #f2b623;
        background-color: #fff;
        font: 700 13px/49px $Montserrat;
        text-align: center;
        text-transform: uppercase;
        border-radius: 5px;
        transition: .5s;

        &:hover {
            background-color: darken(#fff, 10%);
        }
    }

}

#get_in_touch {
    padding: 50px 0;
    height: 415px;

    background: {
        image: url(../img/Get_In_touch_BG.jpg);
        size: cover;
        position: center;

    }

    .title {
        color: #ffffff;
        margin: 0 0 40px 0;

        h5 {
            text-transform: uppercase;
            font: 400 20px/2 $Montserrat;
        }

        p {
            font: 400 14px/1.75 $Montserrat;
            color: inherit;
        }
    }

    .address_item {
        display: flex;
        align-items: center;
        color: #ffffff;
        font-size: 1.5em;

        .icon {
            width: 30px;
            margin-right: 20px;
            text-align: center;

        }

        p {
            margin: 0;
            color: inherit;
            font: 700 13px $Montserrat;

            span {
                color: #ffdd48;
                text-transform: lowercase;
            }
        }
    }

}

footer#main-footer {
    background-color: #333333;
    padding: 50px 0;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;

        li {
            a {
                display: block;
                padding: 20px;
                font: 400 13px $Montserrat;
                color: #ffffff;
                text-decoration: none;

                &:hover {
                    color: $orange;
                }
            }
        }
    }

    .copyright {
        font: 400 13px $Montserrat;
        color: $w_gray;
        text-align: center;
    }
}

/*
* Responsive media query
*/

@media (max-width: 1199px) {
    .title_desc {
        font-size: 40px;
    }

    #testimonials {
        .testimonial_container .testimonials_contents {
            display: block;

            img {
                width: 80px;
                margin: auto;
            }
        }

        .text {
            margin: 10px auto;
        }
    }

    #services {
        .service_img_inner {
            left: 60px;
        }
    }

    #contact_us {

        .input_1,
        .input_2 {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (max-width: 991px) {
    #about .about_photos span:nth-child(1) {
        left: 0;
    }

    #about .about_photos span:nth-child(2) {
        top: 40%;
        left: 6%;
    }

    #about .about_photos span:nth-child(3) {
        top: 20%;
        right: -8%;
    }

    #facts .texts p:nth-child(1) {
        font-size: 40px;
    }

    #testimonials .clients_brands img {
        margin: 10px;
    }

    #services .service_img_inner {
        left: 140px;
    }

    #How_we_do {

        .steps span,
        .step_img {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    #about {
        .about_info>div {
            padding: 0 50px;
        }

        .about_photos span:nth-child(1) {
            height: 100px;
            width: 100px;
        }

        .about_photos span:nth-child(2) {
            height: 140px;
            width: 140px;
            top: 35%;
            left: 4%;
        }

        .about_photos span:nth-child(3) {
            height: 172px;
            width: 172px;
        }
    }

    #services .service_img_inner {
        left: 50px;
    }


}

@media (max-width: 575px) {
    #features .feature_item {
        padding: 15px 30px;
    }

    #How_we_do .steps_item {
        padding: 0 50px;
    }
}